doctype html
html
  head
    title Alumni Cell
    block scripts
    block style
  body
    nav#navbar
        ul
            li #[a(href ='/') Home]
            li #[a(href ='/') About ]
            li #[a(href ='/') Join Us ]
            li #[a(href ='/contact') Contact Us]
            li #[a(href ='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiq3IPartSAAxVHV2wGHYHrA0AQFnoECAQQAQ&url=https%3A%2F%2Fsac.iitkgp.ac.in%2F&usg=AOvVaw3I35dCtJ2r0drKDRv_SY4k&opi=89978449') Alumni Cell IIT KGP]
    block content
    footer#footer 
        | Copyright &copy; 2023 Alumni Cell
